<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControladorRegistro</servlet-name>
        <servlet-class>Controlador.ControladorRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLogin</servlet-name>
        <servlet-class>Controlador.ControladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorConfirmarAgendar</servlet-name>
        <servlet-class>Controlador.ControladorConfirmarAgendar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorConfirmarPlan</servlet-name>
        <servlet-class>Controlador.ControladorConfirmarPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPlanes</servlet-name>
        <servlet-class>Controlador.ControladorPlanes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReservasVuelo</servlet-name>
        <servlet-class>Controlador.ControladorReservasVuelo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVuelos</servlet-name>
        <servlet-class>Controlador.ControladorVuelos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReservaPlan</servlet-name>
        <servlet-class>Controlador.ControladorReservaPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCiudad</servlet-name>
        <servlet-class>Controlador.ControladorCiudad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorRegistro</servlet-name>
        <url-pattern>/ControladorRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLogin</servlet-name>
        <url-pattern>/ControladorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorConfirmarAgendar</servlet-name>
        <url-pattern>/ControladorConfirmarAgendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorConfirmarPlan</servlet-name>
        <url-pattern>/ControladorConfirmarPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPlanes</servlet-name>
        <url-pattern>/ControladorPlanes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReservasVuelo</servlet-name>
        <url-pattern>/ControladorReservasVuelo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVuelos</servlet-name>
        <url-pattern>/ControladorVuelos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReservaPlan</servlet-name>
        <url-pattern>/ControladorReservaPlan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCiudad</servlet-name>
        <url-pattern>/ControladorCiudad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
